<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<table class="table table-striped">
  <th>Gravatar</th>
  <th>Name</th>
  <th>Email</th>
  <% if current_user.admin? %>
    <th>Action</th>
  <% end %>
  <%= render @users %>
</table>

<%= will_paginate %>
